.TestItem {
    position: relative;
    .img_test {
        height: 300px;
        object-fit: contain;
    }
    &:hover {
        .overlay {
            opacity: 1;
        }
    }
    .overlay {
        position: absolute;
        bottom: 0;
        left: 0;
        background-color: rgba(255, 166, 0, 0.388);
        padding: 0 10px;
        opacity: 0;
        transition: all 0.5s;
        .text_title {
            font-size: 20px;
            color: blue;
        }
        .text_desc {
            font-size: 13px;
            color: white;
        }
    }
    .test_visual {
        position: absolute;
        top: 24%;
        left: 50%;
        transform: translateX(-50%);
    }
}
